NOTEBOOK PREMIERS TRAITEMENTS POC ANTICOR MARCHES PUBLICS

RESTE A TRAITER
- Manque correspondance secteur certains codes CPV
- Erreur codes CPV au début du dataset (.0)

In [3]:
# Import données POC Anticor

import pandas as pd

data_marchespublics=pd.read_csv("marches_publics_normalized_data.csv", sep=";",index_col=0)

data_marchespublics.head()

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/735279367.py:5: DtypeWarning: Columns (1,2,7,8,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data_marchespublics=pd.read_csv("marches_publics_normalized_data.csv", sep=";",index_col=0)

,codecpv,acheteur_nom,montant,datenotification,lieuexecution_typecode,acheteur_id,lieuexecution_code,uid,formeprix,datepublicationdonnees,...,objet,nature,dureemois,procedure,id,_type,siren,nom,type,titulaires
0,45223220.0,NaN,10842.0,2020-07-23,CODE DEPARTEMENT,22192720500197,19,NaN,Ferme et actualisable,2020-08-17,...,2020AFF019-Lot 1 - Gros uvre,MARCHE,3,Procédure adaptée,2020TWUCjbv49V00,NaN,221927205,Corrèze,DEP,['SARL KESKIN']
319,92000000.0,NaN,30000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,MA19-130AMP-S�jour � la mer en Loire Atlantique,ACCORD-CADRE,8,Procédure adaptée,2019fVknNpYUYx00,NaN,219300738,Tremblay-en-France,COM,['FEDERATION DES OEUVRES LAIQUES 74']
320,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,MA19-130AMP-Mini S�jour scientifique � moins d...,ACCORD-CADRE,12,Procédure adaptée,2019eR8pWyiL_b00,NaN,219300738,Tremblay-en-France,COM,['Association EVASION 78']
321,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,MA19-130AMP-Mini S�jour nature en Bourgogne � ...,ACCORD-CADRE,12,Procédure adaptée,20199sb1oetZiE00,NaN,219300738,Tremblay-en-France,COM,['PONEYS DES 4 SAISONS']
322,39800000.0,NaN,12000.0,2020-01-28,CODE PAYS,20004133300267,FR,NaN,Ferme,2020-02-10,...,"20 F PDT ENT-Lot 3 : Sacs poubelle, brosserie ...",ACCORD-CADRE,48,Procédure adaptée,20199c4YADzNCi00,NaN,200041333,CC de Parthenay-Gâtine,CC,['PROSYS DESLANDES']

In [4]:
# Import données externes 
# Données codes CPV + correspondance
# Source :  https://www.achatpublic.com/actualites/la-salle-des-marches-la-recherche-par-procedure-et-codes-cpv
# Données supplémentaires ajoutées dans la colonne Division issues de la source : https://www.marche-public.fr/Marches-publics/Nomenclature/Marches-publics-Nomenclature-CPV.htm
# Fichier cpv_2008_fr enregistré en local

data_codes_cpv = pd.read_excel("cpv_2008_fr.xls", engine="xlrd")  # xlrd pour les anciens fichiers .xls
data_codes_cpv.head()

,CODE,FR,DIVISION
0,03000000-1,"Produits agricoles, de l'élevage, de la pêche,...","Produits agricoles, de l'élevage, de la pêche,..."
1,03100000-2,Produits agricoles et produits de l'horticulture,"Produits agricoles, de l'élevage, de la pêche,..."
2,03110000-5,"Produits agricoles, produits de la culture mar...","Produits agricoles, de l'élevage, de la pêche,..."
3,03111000-2,Graines,"Produits agricoles, de l'élevage, de la pêche,..."
4,03111100-3,Graines de soja,"Produits agricoles, de l'élevage, de la pêche,..."

In [5]:
# Ajout colonne code_simplifié pour merge les datasets

data_codes_cpv['CODE_SIMPLE'] = data_codes_cpv['CODE'].str.split('-').str[0]

data_codes_cpv.head()

,CODE,FR,DIVISION,CODE_SIMPLE
0,03000000-1,"Produits agricoles, de l'élevage, de la pêche,...","Produits agricoles, de l'élevage, de la pêche,...",03000000
1,03100000-2,Produits agricoles et produits de l'horticulture,"Produits agricoles, de l'élevage, de la pêche,...",03100000
2,03110000-5,"Produits agricoles, produits de la culture mar...","Produits agricoles, de l'élevage, de la pêche,...",03110000
3,03111000-2,Graines,"Produits agricoles, de l'élevage, de la pêche,...",03111000
4,03111100-3,Graines de soja,"Produits agricoles, de l'élevage, de la pêche,...",03111100

NETTOYAGE DATASET MARCHES PUBLICS

In [7]:
data_marchespublics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467119 entries, 0 to 1000431
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   codecpv                 465450 non-null  object
 1   acheteur_nom            76522 non-null   object
 2   montant                 467119 non-null  float64
 3   datenotification        467119 non-null  object
 4   lieuexecution_typecode  467118 non-null  object
 5   acheteur_id             467119 non-null  int64
 6   lieuexecution_code      467114 non-null  object
 7   uid                     273694 non-null  object
 8   formeprix               465915 non-null  object
 9   datepublicationdonnees  465186 non-null  object
 10  lieuexecution_nom       466375 non-null  object
 11  objet                   467119 non-null  object
 12  nature                  467097 non-null  object
 13  dureemois               467119 non-null  int64
 14  procedure               466087 non-null  object
 15  id                      463227 non-null  object
 16  _type                   161909 non-null  object
 17  siren                   467119 non-null  int64
 18  nom                     467119 non-null  object
 19  type                    467119 non-null  object
 20  titulaires              466325 non-null  object
dtypes: float64(1), int64(3), object(17)
memory usage: 78.4+ MB

In [8]:
# Corrections doublons / erreurs dataset marches_publics

# Correction colonne lieu exécution type code
data_marchespublics = data_marchespublics.replace({'Code pays':'CODE PAYS','Code région':'CODE REGION','Code arrondissement':'CODE ARRONDISSEMENT','Code postal':'CODE POSTAL',
                 'Code commune' : 'CODE COMMUNE','Code canton':'CODE CANTON','Code département':'CODE DEPARTEMENT'})

# Correction colonne forme prix
data_marchespublics = data_marchespublics.replace({'Ferme, actualisable':'Ferme et actualisable'})

# Correction colonne nature
data_marchespublics = data_marchespublics.replace({'Accord-cadre':'ACCORD-CADRE','Marché':'MARCHE','Marché subséquent':'MARCHE SUBSEQUENT','Marché de partenariat':'MARCHE DE PARTENARIAT'})

In [9]:
#Vérification des données

print('NB codes cpv dataset ANTICOR : ',data_marchespublics['codecpv'].nunique())
print('NB codes cpv fichier correspondances codes : ',data_codes_cpv['CODE'].nunique())
print('NB valeurs uniques Acheteurs : ',data_marchespublics['acheteur_nom'].nunique(), 'vs. NB valeurs uniques id Acheteur : ',data_marchespublics['acheteur_id'].nunique())
print('Valeurs uniques code lieu exécution : ',data_marchespublics['lieuexecution_typecode'].unique())
print('NB valeurs uniques uid : ',data_marchespublics['uid'].nunique())
print('Valeurs uniques forme prix : ',data_marchespublics['formeprix'].unique())
print('NB Valeurs uniques objet : ',data_marchespublics['objet'].nunique())
print('Valeurs uniques nature : ',data_marchespublics['nature'].unique())
print('Valeurs uniques type : ',data_marchespublics['type'].unique())

NB codes cpv dataset ANTICOR :  11564
NB codes cpv fichier correspondances codes :  9454
NB valeurs uniques Acheteurs :  1711 vs. NB valeurs uniques id Acheteur :  5352
Valeurs uniques code lieu exécution :  ['CODE DEPARTEMENT' 'CODE PAYS' 'CODE POSTAL' 'CODE COMMUNE' 'CODE REGION'
 'CODE ARRONDISSEMENT' 'CODE CANTON' nan]
NB valeurs uniques uid :  252670
Valeurs uniques forme prix :  ['Ferme et actualisable' 'Ferme' 'Révisable' 'Unitaire' 'Forfaitaire'
 'Mixte' nan]
NB Valeurs uniques objet :  302917
Valeurs uniques nature :  ['MARCHE' 'ACCORD-CADRE' 'MARCHE SUBSEQUENT' 'MARCHE DE PARTENARIAT' nan
 'Marché hors accord cadre']
Valeurs uniques type :  ['DEP' 'COM' 'CC' 'REG' 'CA' 'MET' 'CU' 'EPT' 'CTU']

In [10]:
#Vérification erreurs dates

from datetime import datetime

def detect_errors(dates):
    errors = {}
    allowed_formats = ["%Y-%m-%d"]

    for date in dates.dropna().unique():
        if isinstance(date, str):
            valid = False
            for fmt in allowed_formats:
                try:
                    parsed_date = datetime.strptime(date, fmt)
                    # Vérification de l'année (exclure des valeurs aberrantes comme 0202)
                    if 2000 <= parsed_date.year <= datetime.now().year:
                        valid = True
                        break
                except ValueError:
                    continue
            
            if not valid:
                errors[date] = errors.get(date, 0) + 1  # Stocke l'erreur et son occurrence

    return errors

errors_detected_notif = detect_errors(data_marchespublics['datenotification'])
print('Erreurs dates notification : ', errors_detected_notif)

errors_detected_pub = detect_errors(data_marchespublics['datepublicationdonnees'])
print('Erreurs dates publication : ', errors_detected_pub)

Erreurs dates notification :  {'0202-04-15': 1, '0019-06-18': 1, '0002-11-30': 1, '0021-10-14': 1, '0021-10-15': 1, '0021-10-18': 1, '0020-11-09': 1, '0202-07-01': 1, '0022-04-05': 1, '0029-06-11': 1, '0008-07-06': 1, '0021-05-04': 1, '0023-05-11': 1, '0023-05-22': 1, '0023-04-26': 1, '0023-02-13': 1, '0023-07-05': 1, '0022-08-09': 1, '0022-01-01': 1, '0021-10-20': 1, '0203-10-18': 1, '0203-01-01': 1, '0220-05-12': 1, '0001-01-03': 1, '0222-01-03': 1, '0202-01-27': 1, '0219-03-04': 1, '0222-11-09': 1, '0222-12-23': 1, '1900-01-29': 1, '1970-04-27': 1, '0220-05-18': 1, '1969-08-11': 1, '1999-06-15': 1, '0222-04-15': 1, '1965-08-02': 1, '1930-03-21': 1, '0020-10-30': 1}
Erreurs dates publication :  {'0001-06-21': 1, '2027-04-02': 1, '2027-04-18': 1, '2026-05-30': 1, '2026-12-31': 1, '2033-05-19': 1, '1920-06-01': 1, '2921-11-19': 1, '0021-12-05': 1, 'September, 16 2021 00:00:00': 1}

In [11]:
data_marchespublics.loc[(data_marchespublics['datenotification'].str[:4].astype('int')<2000)]

,codecpv,acheteur_nom,montant,datenotification,lieuexecution_typecode,acheteur_id,lieuexecution_code,uid,formeprix,datepublicationdonnees,...,objet,nature,dureemois,procedure,id,_type,siren,nom,type,titulaires
53762,71335000.0,NaN,19900.00,0202-04-15,CODE POSTAL,24110059300037,11100,NaN,Ferme et actualisable,2020-04-16,...,GN9E02 - Etude de lAire dAlimentation de Mai...,MARCHE,8,Procédure adaptée,20194688670000,NaN,241100593,CA Le Grand Narbonne,CA,['SAS ALLIANCE ENVIRONNEMENT EXPLOITATION']
74859,30120000.0,NaN,74589.00,0019-06-18,CODE POSTAL,21380314100018,38530,NaN,Révisable,2019-06-25,...,MAPA 19-TEC-11 LOCATION ET MAINTENANCE DE PHOT...,MARCHE,48,Procédure adaptée,20194639490000,NaN,213803141,Pontcharra,COM,['BUREAU SERVICE ORGANISATION']
81797,45112710.0,NaN,852320.00,0002-11-30,CODE POSTAL,21060084700011,06370,NaN,Ferme et actualisable,2021-11-05,...,Travaux généraux d'Espaces Verts - Extension d...,MARCHE,6,Procédure adaptée,NaN,NaN,210600847,Mouans-Sartoux,COM,['R�gion Espaces Verts']
83629,18143000.0,NaN,60000.00,0021-10-14,CODE POSTAL,21060018500016,06410,NaN,Révisable,2021-10-19,...,Lot n°1 : Fournitures de vêtements et accessoi...,ACCORD-CADRE,48,Procédure adaptée,NaN,NaN,210600185,Biot,COM,['PROLIANS PACA DESCOURS ET CABAUD']
83630,18143000.0,NaN,36000.00,0021-10-15,CODE POSTAL,21060018500016,06410,NaN,Révisable,2021-10-19,...,Lot n°2 : Fournitures de vêtements de travail ...,ACCORD-CADRE,48,Procédure adaptée,NaN,NaN,210600185,Biot,COM,['GK PROFESSIONNAL']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745763,45453100-8,NaN,68052.35,0222-01-03,CODE POSTAL,21800531200010,80500,21800531200010202103012022-100,Ferme et actualisable,2022-02-08,...,LOT 01GROS-UVRE,MARCHE,12,Procédure adaptée,202103012022-100,NaN,218005312,Montdidier,COM,['LEMAITRE']
833295,45330000,NaN,201010.26,0020-10-30,CODE COMMUNE,24170064000048,17600,NaN,Ferme et actualisable,2021-11-18,...,14-Plomberie-chauffage-ventilation - Construct...,MARCHE,11,Procédure adaptée,NaN,NaN,241700640,CA Royan Atlantique,CA,['SARL GH ENERGIES']
840468,90500000,NaN,2000000.00,0002-11-30,CODE POSTAL,24300064300045,30900,NaN,Révisable,2019-05-06,...,Collecte des encombrants sur 35 communes de Nî...,ACCORD-CADRE,48,Appel d'offres ouvert,NaN,NaN,243000643,CA de Nîmes Métropole,CA,['LVD ENVIRONNEMENT']
921950,45453100-8,NaN,68052.35,0222-01-03,CODE POSTAL,21800531200010,80500,21800531200010202103012022-102,Ferme et actualisable,2022-02-08,...,LOT 01GROS-UVRE,MARCHE,12,Procédure adaptée,202103012022-102,NaN,218005312,Montdidier,COM,['LEMAITRE']
933497,45232410-9,NaN,794996.65,0001-01-03,CODE POSTAL,24590042800013,59140,245900428000132023000000018002,Révisable,2023-05-22,...,REAMENAGEMENT VOIRIE RUE JB TRYSTRAM LEFFRINCK...,MARCHE SUBSEQUENT,7,Appel d'offres ouvert,2023000000018002,NaN,245900428,CU de Dunkerque,CU,['COLAS FRANCE ETABLISSEMENT DE DUNKERQU']

In [12]:
# Modification format date incohérente
data_marchespublics = data_marchespublics.replace('September, 16 2021 00:00:00','2021-09-16')

# Suppression lignes erreurs dates
dates_incorrectes_notif = detect_errors(data_marchespublics['datenotification']).keys()
dates_incorrectes_pub = detect_errors(data_marchespublics['datepublicationdonnees']).keys()

data_marchespublics = data_marchespublics[~data_marchespublics['datenotification'].isin(dates_incorrectes_notif)]
data_marchespublics = data_marchespublics[~data_marchespublics['datepublicationdonnees'].isin(dates_incorrectes_pub)]

errors_detected_notif = detect_errors(data_marchespublics['datenotification'])
print('Erreurs dates notification : ', errors_detected_notif)

errors_detected_pub = detect_errors(data_marchespublics['datepublicationdonnees'])
print('Erreurs dates publication : ', errors_detected_pub)

Erreurs dates notification :  {}
Erreurs dates publication :  {}

In [13]:
# Correction formats données

data_marchespublics = data_marchespublics.astype({'codecpv' : 'object','acheteur_id':'object','siren':'object'})
data_marchespublics['datenotification']=pd.to_datetime(data_marchespublics['datenotification'])
data_marchespublics['datepublicationdonnees']=pd.to_datetime(data_marchespublics['datepublicationdonnees'])

In [14]:
# Ajout colonne avec code cpv simplifié
data_marchespublics['CODE_SIMPLE'] = data_marchespublics['codecpv'].astype(str).str[:8]

In [15]:
data_marchespublics.head()

,codecpv,acheteur_nom,montant,datenotification,lieuexecution_typecode,acheteur_id,lieuexecution_code,uid,formeprix,datepublicationdonnees,...,nature,dureemois,procedure,id,_type,siren,nom,type,titulaires,CODE_SIMPLE
0,45223220.0,NaN,10842.0,2020-07-23,CODE DEPARTEMENT,22192720500197,19,NaN,Ferme et actualisable,2020-08-17,...,MARCHE,3,Procédure adaptée,2020TWUCjbv49V00,NaN,221927205,Corrèze,DEP,['SARL KESKIN'],45223220
319,92000000.0,NaN,30000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,ACCORD-CADRE,8,Procédure adaptée,2019fVknNpYUYx00,NaN,219300738,Tremblay-en-France,COM,['FEDERATION DES OEUVRES LAIQUES 74'],92000000
320,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,ACCORD-CADRE,12,Procédure adaptée,2019eR8pWyiL_b00,NaN,219300738,Tremblay-en-France,COM,['Association EVASION 78'],92000000
321,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,ACCORD-CADRE,12,Procédure adaptée,20199sb1oetZiE00,NaN,219300738,Tremblay-en-France,COM,['PONEYS DES 4 SAISONS'],92000000
322,39800000.0,NaN,12000.0,2020-01-28,CODE PAYS,20004133300267,FR,NaN,Ferme,2020-02-10,...,ACCORD-CADRE,48,Procédure adaptée,20199c4YADzNCi00,NaN,200041333,CC de Parthenay-Gâtine,CC,['PROSYS DESLANDES'],39800000

FUSION DES DATASETS MARCHES PUBLICS ET CPV

In [17]:
data_marchespublics = data_marchespublics.merge(right = data_codes_cpv, on = 'CODE_SIMPLE', how = 'left')

In [18]:
data_marchespublics.head()

,codecpv,acheteur_nom,montant,datenotification,lieuexecution_typecode,acheteur_id,lieuexecution_code,uid,formeprix,datepublicationdonnees,...,id,_type,siren,nom,type,titulaires,CODE_SIMPLE,CODE,FR,DIVISION
0,45223220.0,NaN,10842.0,2020-07-23,CODE DEPARTEMENT,22192720500197,19,NaN,Ferme et actualisable,2020-08-17,...,2020TWUCjbv49V00,NaN,221927205,Corrèze,DEP,['SARL KESKIN'],45223220,45223220-4,Travaux de gros œuvre,Travaux de construction
1,92000000.0,NaN,30000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,2019fVknNpYUYx00,NaN,219300738,Tremblay-en-France,COM,['FEDERATION DES OEUVRES LAIQUES 74'],92000000,92000000-1,"Services récréatifs, culturels et sportifs","Services récréatifs, culturels et sportifs"
2,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,2019eR8pWyiL_b00,NaN,219300738,Tremblay-en-France,COM,['Association EVASION 78'],92000000,92000000-1,"Services récréatifs, culturels et sportifs","Services récréatifs, culturels et sportifs"
3,92000000.0,NaN,15000.0,2019-12-09,CODE DEPARTEMENT,21930073800271,93,NaN,Ferme,2020-02-10,...,20199sb1oetZiE00,NaN,219300738,Tremblay-en-France,COM,['PONEYS DES 4 SAISONS'],92000000,92000000-1,"Services récréatifs, culturels et sportifs","Services récréatifs, culturels et sportifs"
4,39800000.0,NaN,12000.0,2020-01-28,CODE PAYS,20004133300267,FR,NaN,Ferme,2020-02-10,...,20199c4YADzNCi00,NaN,200041333,CC de Parthenay-Gâtine,CC,['PROSYS DESLANDES'],39800000,39800000-0,Produits de nettoyage et produits à polir,"Meubles (y compris les meubles de bureau), amé..."

PREMIERES ANALYSES

In [20]:
# Statistiques par type

import numpy as np

n_modalities = lambda colonne: len(np.unique(colonne))

tableau_type = data_marchespublics.groupby('type').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities})
tableau_type

       montant                                objet
           min           max           sum <lambda>
type
CA   -792000.0  2.000000e+11  3.947241e+12    34859
CC   -783645.0  4.490000e+09  3.558164e+10    36609
COM    -6600.0  3.436997e+13  7.887337e+13   154388
CTU      100.0  2.000000e+08  4.039121e+09     2902
CU         0.0  4.000000e+10  6.474818e+11     4168
DEP        0.0  2.700000e+10  2.305288e+11    49162
EPT        0.0  2.800000e+08  3.003550e+09     1436
MET   -50000.0  4.000000e+11  5.071768e+12    10247
REG        0.0  3.240443e+08  2.553268e+10    11430

In [21]:
# Top 10 CA
data_CA = data_marchespublics.loc[data_marchespublics['type']=='CA'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_CA.head(10)

                                                     montant               \
                                                         min          max
nom
CA Guingamp-Paimpol Agglomération de l'Armor à ...      0.00   19766375.7
CA de la Région Nazairienne et de l'Estuaire (C...   8875.00  258000000.0
CA du Cotentin                                        800.00   34394666.0
CA du Niortais                                       4000.00  133889875.0
CA de Haguenau                                      25485.64   22843970.3
CA Alès Agglomération                                   1.00   12197100.0
CA Mauges Communauté                                 1855.00   16873080.0
CA Le Grand Narbonne                                 9694.00    6200000.0
CA du Centre de la Martinique                           0.00   35901205.0
CA de Lens - Liévin                                   800.00   29595958.0

                                                                    objet
                                                             sum <lambda>
nom
CA Guingamp-Paimpol Agglomération de l'Armor à ...  3.476869e+08      688
CA de la Région Nazairienne et de l'Estuaire (C...  2.574453e+09      687
CA du Cotentin                                      8.132539e+08      635
CA du Niortais                                      6.739645e+08      605
CA de Haguenau                                      6.791102e+08      538
CA Alès Agglomération                               2.575351e+08      477
CA Mauges Communauté                                4.914167e+08      470
CA Le Grand Narbonne                                2.536377e+08      457
CA du Centre de la Martinique                       2.569256e+08      445
CA de Lens - Liévin                                 2.204822e+08      439

In [22]:
# Top 10 CC
data_CC = data_marchespublics.loc[data_marchespublics['type']=='CC'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_CC.head(10)

                                         montant                             \
                                             min          max           sum
nom
CC Auray Quiberon Terre Atlantique       6052.16  97611086.00  4.671287e+08
CC Loudéac Communauté - Bretagne Centre     0.00  12000000.00  9.484141e+07
CC de Bayeux Intercom                     763.00  14199573.22  1.239052e+08
CC du Pays d'Iroise                      3597.00   2400000.00  1.648629e+08
CC Leff Armor Communauté                 1500.00   2543642.00  1.533533e+08
CC du Grand Pic Saint-Loup               3859.00   5400000.00  8.829194e+07
CC Rives de Moselle                       880.00   9600000.00  7.267975e+07
CC de l'Oust à Brocéliande                  1.00   1600800.00  4.133756e+07
CC du Pays de Craon                      1743.00   6690379.00  1.764585e+08
CC du Golfe de Saint-Tropez               120.00   7095704.60  1.544682e+08

                                           objet
                                        <lambda>
nom
CC Auray Quiberon Terre Atlantique           447
CC Loudéac Communauté - Bretagne Centre      428
CC de Bayeux Intercom                        384
CC du Pays d'Iroise                          357
CC Leff Armor Communauté                     290
CC du Grand Pic Saint-Loup                   286
CC Rives de Moselle                          280
CC de l'Oust à Brocéliande                   275
CC du Pays de Craon                          273
CC du Golfe de Saint-Tropez                  269

In [23]:
# Top 10 COM
data_COM = data_marchespublics.loc[data_marchespublics['type']=='COM'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_COM.head(10)

             montant                                objet
                 min           max           sum <lambda>
nom
Lyon         8032.50  5.500000e+07  1.999034e+09     2359
Saint-Denis  1040.00  2.800000e+08  2.529589e+09     1900
Nice            0.00  4.000000e+10  6.374965e+11     1184
Antibes       823.50  3.000000e+07  4.473769e+08     1074
Limoges       450.00  2.800000e+08  7.402076e+08     1030
Béziers         0.00  1.000000e+07  2.880089e+08      966
Metz          813.14  9.952607e+06  4.798304e+08      933
Lille           0.00  3.600000e+07  4.087097e+08      873
Annecy       7595.00  1.000000e+12  3.006277e+12      847
Dunkerque    3985.00  8.400000e+06  8.606126e+08      833

In [24]:
# Top 10 CTU
data_CTU = data_marchespublics.loc[data_marchespublics['type']=='CTU'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_CTU.head(10)

            montant                                objet
                min           max           sum <lambda>
nom
Corse         100.0  6.172000e+07  1.613674e+09     1568
Guyane      26158.0  2.482664e+07  7.171854e+08     1066
Martinique  30790.0  2.000000e+08  1.708261e+09      268

In [25]:
# Top 10 CU
data_CU = data_marchespublics.loc[data_marchespublics['type']=='CU'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_CU.head(10)

                                      montant                              \
                                          min           max           sum
nom
CU Limoges Métropole                  3500.00  4.000000e+10  1.240986e+11
CU Grand Besançon Métropole           2275.00  3.630939e+07  9.634111e+08
CU de Dunkerque                         20.00  2.000000e+10  5.188213e+11
CU d'Arras                           19000.00  3.600000e+07  1.051611e+09
CU Caen la Mer                         687.50  1.111111e+09  1.487555e+09
CU Le Creusot Montceau-les-Mines         0.00  2.320000e+07  7.771847e+07
CU Perpignan Méditerranée Métropole   1366.05  4.622517e+07  2.716615e+08
CU Angers Loire Métropole                1.00  4.000000e+07  3.091667e+08
CU Le Havre Seine Métropole            279.00  4.387895e+07  2.218612e+08
CU d'Alençon                          1507.00  6.953828e+07  1.672617e+08

                                       objet
                                    <lambda>
nom
CU Limoges Métropole                    1140
CU Grand Besançon Métropole              800
CU de Dunkerque                          427
CU d'Arras                               414
CU Caen la Mer                           340
CU Le Creusot Montceau-les-Mines         294
CU Perpignan Méditerranée Métropole      265
CU Angers Loire Métropole                200
CU Le Havre Seine Métropole              152
CU d'Alençon                             115

In [26]:
# Top 10 DEP
data_DEP = data_marchespublics.loc[data_marchespublics['type']=='DEP'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_DEP.head(30)

                       montant                                objet
                           min           max           sum <lambda>
nom
Paris                 25000.00  5.693072e+08  1.747729e+10     6044
Charente-Maritime         0.00  1.028593e+07  7.148187e+08     1626
Isère                     0.00  4.073014e+07  6.392615e+09     1580
Pyrénées-Orientales       4.20  6.000000e+07  1.348016e+09     1321
Haute-Vienne            640.00  5.829200e+06  3.692721e+08     1221
Cantal                    0.69  9.200000e+06  4.181560e+08     1121
Var                    1000.00  4.000000e+07  4.622813e+09     1110
Alpes-Maritimes         572.58  4.800000e+07  5.428253e+09     1069
Côte-d'Or                 0.00  2.050556e+07  2.210057e+08     1002
Nord                      0.00  1.000000e+09  5.490785e+09      940
La Réunion             4960.00  2.682029e+07  1.224657e+09      881
Pyrénées-Atlantiques  24945.00  1.600000e+08  2.420687e+09      877
Vaucluse              24800.00  4.000000e+08  7.662912e+10      856
Essonne                   0.00  2.700000e+10  3.182663e+10      855
Gironde                   0.00  3.557791e+07  6.124644e+08      811
Sarthe                21238.12  3.200000e+07  1.746950e+09      787
Hérault                   0.00  4.333440e+07  8.423417e+09      781
Indre                    10.00  9.000000e+06  2.539842e+08      766
Ariège                   20.00  2.670371e+07  6.488966e+08      757
Aveyron                   0.00  1.624002e+07  4.158350e+08      753
Métropole de Lyon      1000.00  9.000000e+07  1.530159e+09      731
Manche                    0.00  1.200000e+07  3.115450e+08      699
Haute-Saône               0.00  1.390000e+07  2.001684e+08      698
Puy-de-Dôme             800.00  4.800000e+07  1.349526e+09      690
Vendée                    0.00  1.280000e+07  7.162151e+08      669
Haute-Savoie              0.00  2.848550e+07  7.322749e+08      662
Charente                218.24  1.000000e+07  1.354101e+08      651
Allier                   65.00  1.000000e+07  6.756807e+08      630
Mayenne                 525.00  2.000000e+07  7.185626e+08      626
Landes                20000.00  2.000000e+07  6.923724e+08      587

In [27]:
# Top 10 EPT
data_EPT = data_marchespublics.loc[data_marchespublics['type']=='EPT'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_EPT.head(30)

                            montant                                objet
                                min           max           sum <lambda>
nom
Plaine Commune               7200.0  2.800000e+08  2.046163e+09      510
Grand Paris Sud Est Avenir      0.0  1.260000e+08  5.154443e+08      438
Paris-Est-Marne et Bois         0.0  2.999900e+07  1.753389e+08      166
Paris Terres d'Envol         6230.0  6.000000e+07  1.736752e+08      122
Vallée Sud Grand Paris          1.0  2.118112e+06  4.136358e+07      112
Boucle Nord de Seine        37925.0  3.728554e+06  3.217059e+07       70
Grand-Orly Seine Bièvre     50000.0  6.704873e+06  1.939432e+07       18

In [28]:
# Top 10 MET
data_MET = data_marchespublics.loc[data_marchespublics['type']=='MET'].groupby('nom').agg({'montant' : ['min', 'max', 'sum'],'objet': n_modalities}).sort_values(by=('objet', '<lambda>'), ascending=False)
data_MET.head(10)

                                         montant                              \
                                             min           max           sum
nom
Orléans Métropole                        7717.73  8.000000e+07  3.894027e+09
Tours Métropole Val de Loire               15.00  1.500000e+08  1.223692e+09
Métropole Nice Côte d'Azur                  6.00  4.000000e+11  5.051254e+12
Toulouse Métropole                          0.00  2.968730e+07  1.335361e+09
Metz Métropole                             43.20  4.000000e+07  8.026361e+08
Montpellier Méditerranée Métropole      10000.00  1.895588e+08  4.838172e+09
Métropole d'Aix-Marseille-Provence      39500.00  8.060000e+07  4.321069e+09
Métropole Toulon-Provence-Méditerranée      0.00  9.781119e+07  1.050843e+09
Métropole Rouen Normandie              -50000.00  3.332592e+07  1.412371e+09
Saint-Etienne Métropole                   150.00  1.111600e+07  1.886999e+08

                                          objet
                                       <lambda>
nom
Orléans Métropole                          1316
Tours Métropole Val de Loire               1313
Métropole Nice Côte d'Azur                 1288
Toulouse Métropole                         1126
Metz Métropole                              987
Montpellier Méditerranée Métropole          944
Métropole d'Aix-Marseille-Provence          719
Métropole Toulon-Provence-Méditerranée      677
Métropole Rouen Normandie                   478
Saint-Etienne Métropole                     386

Ajout colonne avec type simplifié en ville, département, région et collectivité outre mer pour simplifier l'analyse

In [30]:
# Changement nom df
data_mp = data_marchespublics

# Ajout colonne 'type simplifié' pour partager en 3 catégories : ville, département, région
data_mp['type_simpl'] = data_mp['type']

# Correction colonne 'type simplifié' pour les départements
# Data départements : type DEP, EPT (Paris)

data_mp.loc[data_mp['type'].isin(['DEP', 'EPT']), 'type_simpl'] = 'DEP'

# Correction colonne 'type simplifié' pour les villes
# Data villes : types CA, CC, COM, CU, MET, DEP(Paris)

data_mp.loc[(data_mp['nom'] == 'Paris') | (data_mp['type'].isin(['CA', 'CC', 'COM', 'CU', 'MET'])), 'type_simpl'] = 'VIL'

# Correction colonne 'type simplifié' pour les régions
# La Réunion à intégrer dans les CTU
data_mp.loc[(data_mp['nom'] == 'La Réunion'),'type_simpl']='CTU'

data_mp['type_simpl'].unique()

array(['DEP', 'VIL', 'REG', 'CTU'], dtype=object)

In [31]:
# Ajout colonne année
data_mp['datenotification']=pd.to_datetime(data_mp['datenotification'])
data_mp['année_publ'] = data_mp['datenotification'].dt.year

In [32]:
# Extraction dataset corrigé
data_marchespublics.to_csv('dataset_marchespublics_clean.csv',index = False)

In [33]:
# Création dataframe par type

data_collectivite = data_mp.groupby(['type_simpl','année_publ']).agg({'montant':sum,'objet':n_modalities})
data_collectivite = data_collectivite.reset_index()
print(data_collectivite)

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/2431441049.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_collectivite = data_mp.groupby(['type_simpl','année_publ']).agg({'montant':sum,'objet':n_modalities})

   type_simpl  année_publ       montant  objet
0         CTU        2010  1.720236e+06      1
1         CTU        2014  6.158000e+04      1
2         CTU        2016  2.629146e+06      1
3         CTU        2017  2.521250e+05      2
4         CTU        2018  1.790140e+05      3
5         CTU        2019  1.152195e+09    376
6         CTU        2020  9.554326e+08    754
7         CTU        2021  2.373721e+09    955
8         CTU        2022  2.453563e+09   1260
9         CTU        2023  1.729860e+09   1208
10        DEP        2012  1.250000e+06      1
11        DEP        2013  5.520689e+06      2
12        DEP        2014  4.183931e+06      3
13        DEP        2015  1.310162e+07      5
14        DEP        2016  4.487240e+07      9
15        DEP        2017  4.015682e+09     20
16        DEP        2018  3.688651e+09    723
17        DEP        2019  4.459598e+10   6416
18        DEP        2020  4.965590e+10   8158
19        DEP        2021  6.032139e+10  10600
20        DEP        2022  4.222000e+10  10768
21        DEP        2023  1.026383e+10   7395
22        REG        2012  3.947675e+06      1
23        REG        2015  5.450533e+06      2
24        REG        2016  6.651835e+05      1
25        REG        2017  2.762142e+05      2
26        REG        2018  1.931410e+07     33
27        REG        2019  2.674662e+09   1727
28        REG        2020  2.635951e+09   1705
29        REG        2021  3.149397e+09   2285
30        REG        2022  7.807774e+09   2924
31        REG        2023  5.829407e+09   2053
32        VIL        2001  1.472688e+05      2
33        VIL        2002  2.514853e+06     13
34        VIL        2003  3.920000e+05      3
35        VIL        2004  1.687872e+05      1
36        VIL        2008  1.803034e+06      2
37        VIL        2009  1.401225e+06      3
38        VIL        2010  1.170751e+07      6
39        VIL        2011  1.550679e+05      3
40        VIL        2012  6.849083e+06      7
41        VIL        2013  9.598787e+06      6
42        VIL        2014  5.908319e+06     21
43        VIL        2015  4.369361e+08     37
44        VIL        2016  6.869799e+07    105
45        VIL        2017  2.497903e+08    264
46        VIL        2018  3.316689e+09   4840
47        VIL        2019  3.456547e+13  40839
48        VIL        2020  4.676948e+13  39467
49        VIL        2021  3.846783e+12  54276
50        VIL        2022  2.511742e+11  58658
51        VIL        2023  3.155904e+12  50119

In [34]:
# Création dataframe par collectivité outre mer

data_ctu = data_mp.loc[data_mp['type_simpl']=='CTU'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})
data_ctu = data_ctu.reset_index()
print(data_ctu)

           nom  année_publ       montant  objet
0        Corse        2017  2.521250e+05      2
1        Corse        2018  4.400000e+04      2
2        Corse        2019  9.291547e+07    123
3        Corse        2020  2.265242e+08    255
4        Corse        2021  1.642612e+08    208
5        Corse        2022  7.925614e+08    529
6        Corse        2023  3.371158e+08    457
7       Guyane        2010  1.720236e+06      1
8       Guyane        2016  2.629146e+06      1
9       Guyane        2019  4.381185e+07    100
10      Guyane        2020  2.244888e+08    197
11      Guyane        2021  1.437601e+08    242
12      Guyane        2022  1.626802e+08    322
13      Guyane        2023  1.380950e+08    217
14  La Réunion        2018  1.350140e+05      1
15  La Réunion        2019  1.015467e+09    153
16  La Réunion        2020  5.042196e+08    301
17  La Réunion        2021  1.740978e+09    444
18  La Réunion        2022  6.126460e+08    322
19  La Réunion        2023  7.570460e+08    413
20  Martinique        2014  6.158000e+04      1
21  Martinique        2020  2.000000e+05      1
22  Martinique        2021  3.247216e+08     61
23  Martinique        2022  8.856752e+08     87
24  Martinique        2023  4.976029e+08    121

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/1782171208.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_ctu = data_mp.loc[data_mp['type_simpl']=='CTU'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})

In [35]:
# Création dataframe par département

data_dep = data_mp.loc[data_mp['type_simpl']=='DEP'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})
data_dep = data_dep.reset_index()
print(data_dep)

          nom  année_publ       montant  objet
0         Ain        2020  1.622260e+08      3
1         Ain        2021  2.664896e+08    163
2         Ain        2022  1.722917e+09    182
3         Ain        2023  9.537313e+07    148
4       Aisne        2021  1.653000e+07      4
..        ...         ...           ...    ...
463     Yonne        2023  8.371880e+06     35
464  Yvelines        2019  8.642916e+07     40
465  Yvelines        2020  9.841290e+07     37
466  Yvelines        2021  2.383553e+07     61
467  Yvelines        2022  3.813647e+08     60

[468 rows x 4 columns]

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/778341897.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_dep = data_mp.loc[data_mp['type_simpl']=='DEP'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})

In [36]:
# Création dataframe par région

data_reg = data_mp.loc[data_mp['type_simpl']=='REG'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})
data_reg = data_reg.reset_index()
print(data_reg)

                           nom  année_publ       montant  objet
0         Auvergne-Rhône-Alpes        2018  7.783142e+06      9
1         Auvergne-Rhône-Alpes        2019  1.206180e+09    845
2         Auvergne-Rhône-Alpes        2020  8.817644e+08    631
3         Auvergne-Rhône-Alpes        2021  5.906462e+08    669
4         Auvergne-Rhône-Alpes        2022  1.515346e+09    808
5         Auvergne-Rhône-Alpes        2023  2.974965e+08    379
6      Bourgogne-Franche-Comté        2019  2.251230e+07    244
7      Bourgogne-Franche-Comté        2020  7.040016e+07    378
8      Bourgogne-Franche-Comté        2021  8.155508e+07    393
9      Bourgogne-Franche-Comté        2022  1.078984e+07     32
10     Bourgogne-Franche-Comté        2023  1.794660e+05      2
11                    Bretagne        2015  3.486200e+04      1
12                    Bretagne        2018  1.061897e+06      8
13                    Bretagne        2019  1.472084e+07     41
14                    Bretagne        2020  8.876643e+07     79
15                    Bretagne        2021  4.353788e+08    103
16                    Bretagne        2022  7.306951e+07     70
17                    Bretagne        2023  5.004663e+08    250
18         Centre-Val de Loire        2018  1.565437e+06      6
19         Centre-Val de Loire        2019  4.762197e+07    148
20         Centre-Val de Loire        2020  9.307557e+08    140
21         Centre-Val de Loire        2021  1.997002e+08    160
22         Centre-Val de Loire        2022  4.575470e+08    155
23         Centre-Val de Loire        2023  1.015664e+08    110
24                   Grand Est        2021  2.250000e+05      2
25                   Grand Est        2022  6.511170e+08    184
26                   Grand Est        2023  1.264509e+09    231
27                  Guadeloupe        2016  6.651835e+05      1
28                  Guadeloupe        2018  8.267396e+06      3
29                  Guadeloupe        2019  5.541318e+06      3
30                  Guadeloupe        2020  5.121412e+07     46
31                  Guadeloupe        2021  2.654581e+08    124
32                  Guadeloupe        2022  3.500995e+08    132
33                  Guadeloupe        2023  2.814773e+08    119
34             Hauts-de-France        2019  1.794800e+05      2
35             Hauts-de-France        2020  3.522310e+05      2
36             Hauts-de-France        2021  4.961161e+08    171
37             Hauts-de-France        2022  1.229410e+09    261
38             Hauts-de-France        2023  2.454725e+09    349
39                   Normandie        2018  3.952440e+05      5
40                   Normandie        2019  1.988616e+08    290
41                   Normandie        2020  1.612797e+08    246
42                   Normandie        2021  5.993594e+08    393
43                   Normandie        2022  1.679318e+09    494
44                   Normandie        2023  4.755037e+08    383
45                   Occitanie        2012  3.947675e+06      1
46                   Occitanie        2015  5.415671e+06      1
47                   Occitanie        2019  4.942830e+05      4
48                   Occitanie        2020  2.678117e+06      6
49                   Occitanie        2021  3.850388e+07     46
50                   Occitanie        2022  2.415245e+08    187
51  Provence-Alpes-Côte d'Azur        2017  2.762142e+05      2
52  Provence-Alpes-Côte d'Azur        2018  2.409869e+05      2
53  Provence-Alpes-Côte d'Azur        2019  1.178550e+09    150
54  Provence-Alpes-Côte d'Azur        2020  4.487398e+08    177
55  Provence-Alpes-Côte d'Azur        2021  4.424547e+08    224
56  Provence-Alpes-Côte d'Azur        2022  1.599552e+09    601
57  Provence-Alpes-Côte d'Azur        2023  4.534833e+08    230

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/221001374.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_reg = data_mp.loc[data_mp['type_simpl']=='REG'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})

In [37]:
# Création data par ville

data_vil = data_mp.loc[data_mp['type_simpl']=='VIL'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})
data_vil = data_vil.reset_index()
print(data_vil)

/var/folders/rc/ls2y04511lv_tp0dgcjdd2040000gn/T/ipykernel_8630/2380747472.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data_vil = data_mp.loc[data_mp['type_simpl']=='VIL'].groupby(['nom','année_publ']).agg({'montant':sum,'objet':n_modalities})

             nom  année_publ      montant  objet
0      Abbeville        2019   3443521.50      4
1      Abbeville        2020   1404624.50      6
2      Abbeville        2021   3672710.27      6
3      Abbeville        2022  10841784.06     21
4      Abbeville        2023  14830074.06     13
...          ...         ...          ...    ...
12249  Ézanville        2019   1801853.50     19
12250  Ézanville        2020    994093.27     12
12251  Ézanville        2021   1651525.20      5
12252  Ézanville        2022   1540232.00     13
12253  Ézanville        2023    576923.00      6

[12254 rows x 4 columns]

In [38]:
# Création fichier excel avec les dataframes

with pd.ExcelWriter("MP_par_type.xlsx", engine="xlsxwriter") as writer:
    data_collectivite.to_excel(writer, sheet_name="MP_annee_type", index=False)
    data_vil.to_excel(writer, sheet_name="MP_detail_villes", index=False)
    data_dep.to_excel(writer, sheet_name="MP_detail_departement", index=False)
    data_reg.to_excel(writer, sheet_name="MP_detail_region", index=False)
    data_ctu.to_excel(writer, sheet_name="MP_detail_autres", index=False)

print("Fichier Excel généré avec succès 🎉")

Fichier Excel généré avec succès 🎉